<div class="combo-flex-tickets row">
	<div class="fake-header-bg ng-scope"></div>
	<div class="hero">
		<div class="vert-mid">
			<div class="big-white-box">
				<h3 class="combo-header combo-title comboticket-header-title">COMBOTICKETS SUBSCRIPTIONS</h3>
				<hr style="border: 1px solid #ccc;margin: 10px auto;">
				<a href="https://repertorio.secure.force.com/ticket/#sections_a0FE000000GcF8AMAV" target="_blank">
					<div class="col-md-5 flex-pack-promo combo-a">
						<div>
							<h2 class="hilite">COMBO PREMIUM</h2>
							<h4>Six Tickets for $198.00</h4>
							<p>Seat Rows A - G (including handicap seats), a total customer savings of $120.00 or a <span class="hilite">38% discount</span> on the full price ticket!</p>
							<button>BUY SUBSCRIPTION</button>
						</div>
					</div>
				</a>
				<a href="https://repertorio.secure.force.com/ticket/#sections_a0FE000000GcFCgMAN" target="_blank">
					<div class="col-md-5 flex-pack-promo combo-b">
						<div>
							<h2 class="hilite">COMBO</h2>
							<h4>Six Tickets for $162.00</h4>
							<p>Seat Rows H - M, and all Balcony seats, a total customer savings of up to $56.00 or a <span class="hilite">26% discount</span> on the average full price ticket!</p>
							<button>BUY SUBSCRIPTION</button>
						</div>
					</div>
				</a>
				<div class="clearfix"></div>
				<h4 class="combo-header">What are the perks?</h4>
				<ol>
					<li>Combotickets are for all Repertorio Español regular season shows, as well as select Special Guest Presentations.</li>
					<li>Comboticket buyers will receive best seats available within their respective subscription purchase.</li>
					<li>Comboticket holders receive up to (2) complementary servings of wine per ticket at each presentation.</li>
					<li>Comboticket holders will receive a monthly email reminding them of their unused tickets.</li>
					<li>Comboticket holders will receive advance notices of upcoming available seats for Special Guest Presentations.</li>
					<li>Comboticket holders may purchase regular tickets in another area, without having to redeem their COMBO ticket(s), If no tickets are available on a desired date and in their respective subscription seating area.</li>
					<li>Comboticket holders receive two (2) free tickets to any Van Lier Director’s Production.</li>
					<li>Comboticket holders will receive a 25% discount on Repertorio published books, CDs and DVDs.</li>
				</ol>

				<h4 class="combo-header">What is the policy?</h4>
				<ol>
					<li>Combotickets may only be redeemed for a maximum of (2) seats per production, for (3) regular season shows offered within the year from the time of subscription purchase, or (1) seat for six regular season shows.</li>
					<li>Comboticket buyers must reserve their seats at least 48 hours in advance of the desired performance date.</li>
					<li>Combotickets may not be combined with other discount offers.</li>
					<li>COMBO subscription tickets cannot be used for COMBO PREMIUM subscription seating area without a purchased upgrade. </li>
				</ol>

				<h4 class="combo-header">How do I redeem my combotickets?</h4>
				<p class="combo-redeem">Combotickets can only be redeemed by phone or email. Call our Box Office at <a href="tel:+12122259999">212.225.9999</a> or email us at <a href="mailto:tickets@repertorio.org">tickets@repetorio.org</a></p>
				<button OnClick="window.location.href = 'mailto:tickets@repertorio.org'">EMAIL US</button>
			</div>
		</div>
	</div>
</div>
<footer-block></footer-block>