<div class="company row">
    <div class="hero">
		<div class="sharethis">
			<span class='st_facebook_custom'><img src="http://repertorio.nyc/images/social-fb.png" onmouseover="this.src='http://repertorio.nyc/images/social-fb-ro.png'" onmouseout="this.src='http://repertorio.nyc/images/social-fb.png'" /></span>
			<span class='st_twitter_custom'><img src="http://repertorio.nyc/images/social-tw.png" onmouseover="this.src='http://repertorio.nyc/images/social-tw-ro.png'" onmouseout="this.src='http://repertorio.nyc/images/social-tw.png'" /></span>
		</div>
        <div class="vert-mid">
            <h1>Administration</h1>
        </div>
    </div>
    <div class="big-white-box">
        <h3>Founders</h3>
        <div class="row row-centered">
            <div class="col-sm-2 col-centered member-portrait gil-zal">
                <div class="member-details"><h4>GILBERTO ZALD&Iacute;VAR (1934-2009)</h4>
                    <div class="member-details-title">
                        Founding President &amp; Producer Emeritus
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-centered member-portrait ren-buc">
                <div class="member-details"><h4>REN&Eacute; BUCH</h4>
                    <div class="member-details-title">Founding Artistic Director</div>
                </div>
            </div>
        </div>
    </div>
    <div class="big-gray-box">
        <h3>Board Of Directors</h3>

        <!--<p>Repertorio Espa&ntilde;ol's board of directors make up a diverse collage of industries, companies, and talent that help shape the theater's future. Many board members share a history of ten-plus years. The board members’ mix of <strong class="hilite">passion for the theater</strong> and the <strong class="hilite">Spanish-language culture</strong> Combined with their individual talent and leadership allow Repertorio Espa&ntilde;ol to pursue and obtain its goals.</p>-->

        <div class="row row-centered member-name-row">
            <div class="col-name-1 col-names">
                <div class="member-name">ANDREW THOMAS, CHAIR</div>
                <div class="member-name">MARIANA SABATER, VICE CHAIR</div>
                <div class="member-name">MARÍA CRISTINA ANZOLA</div>
                <div class="member-name">MANUELA ARNAL</div>
                <div class="member-name">DAISY EXPÓSITO-ULLA</div>
				<div class="member-name">ROBERT WEBER FEDERICO</div>
            </div>
            <div class="col-name-1 col-names">
                <div class="member-name">DANIEL FLORES</div>
				<div class="member-name">HORACIO HERZBERG</div>
                <div class="member-name">CARLOS LÓPEZ-OÑA</div>
                <div class="member-name">FRANCISCO J. MARTÍNEZ COLÓN</div>
                <div class="member-name">JOHN M. MEJÍA</div>
                <div class="member-name">JUAN MEJÍA</div>
            </div>
            <div class="col-name-1 col-names">
                <div class="member-name">CHARLES J. MONTOYA</div>
                <div class="member-name">NELLIE NIETO</div>
                <div class="member-name">LUIS PAZ-GALINDO</div>
                <div class="member-name">RAMÓN J. PINEDA</div>
                <div class="member-name">SANTIAGO RUBÍN</div>
				<div class="member-name">LAWRENCE M. SMALL</div>
            </div>
            <div class="col-name-1 col-names">
                <div class="member-name">ROGER THOMAS</div>
                <div class="member-name">SAVA THOMAS</div>
                <div class="member-name">ALFRED TORRES</div>
                <div class="member-name">PEDRO J. TORRES</div>
                <div class="member-name">JORGE ULLA</div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="big-gray-box">
        <h3>Advisory Board</h3>
        <div class="row row-centered member-name-row">
            <div class="col-name-1 col-names">
                <div class="member-name">Norberto Bogard</div>
                <div class="member-name">Myriam Castillo</div>
				<div class="member-name">OVIDIO DÍAZ-ESPINO</div>
            </div>
            <div class="col-name-1 col-names">
                <div class="member-name">Joel Epstein</div>
                <div class="member-name">Salvador Fern&aacute;ndez</div>
            </div>
            <div class="col-name-1 col-names">
                <div class="member-name">Manolo Garc&iacute;a Oliva</div>
                <div class="member-name">Armando E. Mej&iacute;a-Gallardo</div>
            </div>
            <div class="col-name-1 col-names">
                <div class="member-name">Rub&eacute;n M. Mu&ntilde;iz</div>
                <div class="member-name">Antonio Rodr&iacute;guez</div>
            </div>
        </div>
    </div>
    <div class="big-white-box">
        <h3>Executive Staff</h3>
        <div class="row row-centered">
            <div class="col-sm-3 col-centered member-portrait rob-fed">
                <div class="member-details"><h4>Robert Weber Federico</h4>
                    <div class="member-details-title">Executive producer</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait joh-mej">
                <div class="member-details"><h4>John M. Mejía</h4>
                    <div class="member-details-title">Director of development</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait nie-vas">
                <div class="member-details"><h4>Nieves Vásquez-Ortíz</h4>
                    <div class="member-details-title">Financial Manager</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait all-ast">
                <div class="member-details"><h4>Allison Astor-Vargas</h4>
                    <div class="member-details-title">Manager of Special Projects</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait edg-lop">
                <div class="member-details"><h4>Edgard López</h4>
                    <div class="member-details-title">Marketing Manager</div>
                </div>
            </div>
			<div class="col-sm-3 col-centered member-portrait kev-tig">
                <div class="member-details"><h4>Kevin Tighe Martínez</h4>
                    <div class="member-details-title">Public Relations</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait ger-gud">
                <div class="member-details"><h4>Gerardo Gudiño</h4>
                    <div class="member-details-title">Development Associate </div>
                </div>
            </div>            
            <div class="col-sm-3 col-centered member-portrait mic-pal">
                <div class="member-details"><h4>Michael J. Palma</h4>
                    <div class="member-details-title">Capital Planning</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait rob-cab">
                <div class="member-details"><h4>Robert Caba</h4>
                    <div class="member-details-title">Box Office Manager</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait san-cza">
                <div class="member-details"><h4>Sandra Czajkowski</h4>
                    <div class="member-details-title">Group Sales</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait gre-vas">
                <div class="member-details"><h4>Gredivel Vásquez</h4>
                    <div class="member-details-title">Reception</div>
                </div>
            </div>
        </div>
	</div>
	<div class="big-gray-box portraits">
        <h3>Artistic Staff</h3>
        <div class="row row-centered">
            <div class="col-sm-3 col-centered member-portrait jos-zay">
                <div class="member-details"><h4>José Zayas</h4>
                    <div class="member-details-title">Resident Director</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait pab-zin">
                <div class="member-details"><h4>Pablo Zinger</h4>
                    <div class="member-details-title">Musical Director</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait fer-the">
                <div class="member-details"><h4>Fernando Then</h4>
                    <div class="member-details-title">Production Manager</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait mar-bri">
                <div class="member-details"><h4>María Brites</h4>
                    <div class="member-details-title">Wardrobe Supervisor</div>
                </div>
            </div>
			<div class="col-sm-3 col-centered member-portrait edn-lee">
                <div class="member-details"><h4>Edna Lee Figueroa</h4>
                    <div class="member-details-title">Simultext&reg; Subtitle System</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait edu-nav">
                <div class="member-details"><h4>Eduardo Navas</h4>
                    <div class="member-details-title">Technician</div>
                </div>
            </div>
            <div class="col-sm-3 col-centered member-portrait alf-rey">
                <div class="member-details"><h4>Alfonso Rey</h4>
                    <div class="member-details-title">Technician</div>
                </div>
            </div>
        </div>
    </div>
</div>
<stay-intouch></stay-Intouch>
<footer-block></footer-block>