<div class="footer">
  <div class="container">
    <div class="navigation">

        <ul class="nav navbar-nav">
          <li><a ng-href="#/performances">PERFORMANCES & TICKETS</a></li>
          <li><a ng-href="#/company">Administration</a></li>
          <li><a ng-href="#/repertorio-espanol">History</a></li>
          <li><a ng-href="#/education">Education</a></li>
          <li><a ng-href="#/donate">DONATE</a></li>
          <li><a ng-href="#/contact">Contact</a></li>
        </ul>
        <div class="share">
          <a href="https://www.facebook.com/repertorionyc" target="_blank"><img src="images/share/facebook.png"></a>
          <a href="https://twitter.com/repertorionyc" target="_blank"><img src="images/share/tweet.png"></a>
          <a href="https://instagram.com/repertorionyc/" target="_blank"><img src="images/share/instagram.png"></a>
          <a href="https://www.youtube.com/user/repertorioespanol" target="_blank"><img src="images/share/youtube.png"></a>
        </div>
      </div>
  </div>
</div>
<div class="sub-footer">
©2015  |  138 East 27th Street, New York, NY 10016  |  Tel. 212-225-9999 
</div>