<div class="nuestrasvoces-submit row">
    <div class="fake-header-bg ng-scope"></div>

    <div class="big-white-box doc-page">
        <div class="row row-centered">
            <h3 class="doc-page-title">METLIFE NUESTRAS VOCES NATIONAL PLAYWRITING COMPETITION 2015</h3>
			<div class="header-image header-image-1 col-centered col-lg-4"></div>
            <div class="header-image header-image-2 col-centered col-lg-4"></div>
            <div class="header-image header-image-3 col-centered col-lg-4"></div>
        </div>

        <h4 class="combo-header">Requirements</h4>
        <p>Plays that do not meet these requirements will not be considered (please read carefully).</p>
        <ol>
            <li>Playwrights may be Latino or of any other ethnic or racial background as long as the play's subject matter and characters resonate with Latino audiences and accurately depict the Hispanic experience.</li>
            <li>No screenplays, one act plays, musicals, adaptations or translations will be accepted.</li>
            <li>New and un-produced plays preferred. Plays that have had readings or a workshop production are acceptable.</li>
            <li>All plays must be original and full-length (minimum running time: 1 hr., 30 min) and can be written in Spanish and/or English.</li>
            <li>Playwrights must be at least 18 years of age and residents of the United States or Puerto Rico.</li>
            <li>Previously submitted scripts are accepted unless they have already placed in the top 10. </li>
        </ol>

        <h4 class="combo-header">Selection Process</h4>
        <ol>
            <li>Each script will be read by two qualified independent judges selected by Repertorio Español, on a blind submission.</li>
            <li>Winners will be announced six to seven months after the deadline.</li>
            <li>Each participant will be notified of the results by e-mail. We request that participants do not contact the office to inquire about the competition’s results. </li>
        </ol>

        <h4>Prizes</h4>
        <p><strong>Round 1:</strong> Finalists will receive a staged reading at Repertorio to further develop the script.</p>
        <p><strong>Round 2:</strong></p>
        <p>Grand Prize Winner: $3,000 and a full production at Repertorio Español (must be available for Awards Ceremony)</p>
        <p>2nd Place: $2,000</p>
        <p>3rd Place: $1,000</p>

        <h4 class="combo-header">Submission Guidelines</h4>
        <p>Must follow instructions and fully fill out form to participate. Unfortunately, we cannot accept any changes or re-submissions once the script has been submitted. Do not send any other biographical infomation or reviews.</p>

        <p><strong>Deadline: Monday, June 1st, 2015</strong></p>
		<ol>
			<li> One ELECTRONIC COPY of your script -- in one document with numbered pages and a title page that lists the title and year the play was written ONLY. (PDF, Microsoft Word, Plain or Rich Text Formats Accepted)</li>
			<li>Please OMIT your name from the script</li>
			<li>Do not send other biographical information or reviews</li>
			<li>Unfortunately, we cannot accept any changes or re-submissions once the script has been submitted. </li>
		</ol>

        <form class="submit-form-yellow" action="nuestrasvoces-send.php" method="post" enctype="multipart/form-data">
            <div class="row input-four-across">
                <input type="text" name="nameInput" placeholder="FULL NAME*" class="col-md-3">
                <input type="text" name="cellInput" placeholder="CELL NUMBER*" class="col-md-3">
                <input type="text" name="addressInput" placeholder="ADDRESS*" class="col-md-3">
                <input type="text" name="apptInput" placeholder="ADDRESS 2" class="col-md-3">
            </div>
            <div class="row input-four-across">
                <input type="text" name="cityInput" placeholder="CITY" class="col-md-3">
                <select name="stateSelect" class="col-md-3">
                    <option selected="true" disabled="disabled">STATE</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
					<option value="PR">Puerto Rico</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <input type="text" name="zipInput" placeholder="ZIP CODE" class="col-md-3">
                <select class="col-md-3" name="howYouHeardSelect">
                    <option selected="true" disabled="disabled">HOW DID YOU HEAR ABOUT THE COMPANY?</option>
                    <option>Friend/Family</option>
                    <option>Colleague</option>
                    <option>Advertisment</option>
                    <option>Email</option>
                    <option>Social Media</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="row input-one-across">
                <input type="text" name="playNameInput" placeholder="NAME OF PLAY" class="col-md-12">
            </div>
            <div class="row">
                <textarea name="synopsisInput" placeholder="4-6 LINE SYNOPSIS" class="col-md-12"></textarea>
            </div>
            <div class="row">
                <textarea name="descriptionInput" placeholder="4-6 LINE DESCRIPTION OF HOW YOUR PLAY RELATES TO THE LATINO/HISPANIC AMERICAN COMMUNITY"class="col-md-12"></textarea>
            </div>
            <div class="row">
                <input name="playFile" type="file" value="Upload your Play">
            </div>
            
            <div class="row">
                <input name="check" type="checkbox" id="acknowledgement">
                <label class="acknowledgement" for="acknowledgement">
                    By submitting your play to the competition, Repertorio Español shall have a right to produce the play for a period of two years. Such production shall be done in accordance with an agreement acceptable to both the playwright and Repertorio Español. If the playwright receives an offer within the two year period from a third party to produce the play, the company has the right to decide to produce the play on terms no less favorable than offered.
                    <br>
                    Please direct any questions regarding this competition/application to nuestrasvoces@repertorio.org
                </label>
            </div>
            <div style="padding-top:20px;">
                <input class="formSubmitBtn" name="submit" value="Submit Play" type="submit">
                <img class="loading-img" style="display: none;" src="images/loading.gif">
            </div>
        </form>
        <script>
            $(document).ready(function() {
                $('.formSubmitBtn').bind('click', function() {
                    $('.loading-img').show();
                }); 
            });
        </script>
    </div>
</div>
<footer-block></footer-block>
