<style>
	body[style]{overflow:hidden!important;}
</style>

<div class="home">
  <div id="pagepiling" class="page-piling">
    <div class="section">
      <div class="col-sm-12 home-hero aspectwrapper" style="background: url('images/past-winners/hero-Carlos-Murillo.jpg') right center/cover #000"> 
        <div class="announce content">
          <p>2013 nuestras voces winner</p>
      	  <h1>CARLOS MURILLO</h1>
          <h3>Su nombre será su sombra para siempre</h3>
		  
		  <div class="winner-right">
			<!--<img src="/images/past-winners/andres-camargo.png" />-->
			<h4>CARLOS MURILLO</h4>
			<p>Carlos Murillo is a playwright, director and educator. His plays include: "Your Name Will Follow You Home," "Augusta and Noble," "Mayday Mayday Tuesday," "A Thick Description of Harry Smith," "Diagram of A Paper Airplane," "Dark Play or Stories for Boys," "Mimesophobia," "A Human Interest Story," "Offspring of the Cold War," "Schadenfreude" and others. They have been produced throughout the US and Eastern Europe. In New York, his work has been seen at P73, NYC Summer Play Festival, En Garde Arts, New Dramatists, NY Theatre Workshop and the Public Theater’s New Work Now!</p>
		  </div>
        </div>
      </div>
    </div>
	
    <div class="section">
      <div class="col-sm-12 home-hero aspectwrapper" style="background: url('images/past-winners/hero-marco-antonio-rodriguez.jpg') right center/cover #000">
        <div class="announce content">
          <p>2012 nuestras voces winner</p>
		  <h1>MARCO ANTONIO RODRÍGUEZ</h1>
		  <h3>Barceló con hielo</h3>

          <div class="winner-right">
			<!--<img src="/images/past-winners/andres-camargo.png" />-->
			<h4>MARCO ANTONIO RODRÍGUEZ</h4>
			<p>Born and raised in New York City, with roots from the Dominican Republic, Marco is a graduate of La Guardia High School for the Performing Arts in NYC and holds a Master of Fine Arts degree from Southern Methodist University. His play, "La luz de un cigarrillo," received an extended by popular demand run at New York's Off-Broadway LATEA theater, Lehman Stages and the Dominican Republic's Teatro Las Máscaras (where it currently has an open ended run). It is the recipient of 5 HOLA, 4 ACE  and 3 prestigious Soberano awards, including Outstanding Achievement In Playwriting and directing.  </p>
		  </div>
        </div>
      </div>
    </div>
	
    <div class="section">
      <div class="col-sm-12 home-hero aspectwrapper"  style="background: url('images/past-winners/hero-vincent-toro.jpg') right center/cover #000">
        <div class="announce content">
          <p>2011 nuestras voces winner</p>
		  <h1>VINCENT TORO</h1>
		  <h3>21</h3>
		  
          <div class="winner-right">
			<!--<img src="/images/past-winners/andres-camargo.png" />-->
			<h4>VINCENT TORO</h4>
			<p>Vincent Toro is a Puerto Rican poet, playwright, performer, director, and educator with a MFA in Creative Writing from Rutgers University. From 2006-2011, Mr. Toro was Director of the Theater Program at The Guadalupe Cultural Arts Center in San Antonio, Texas. He has taught creative writing for Gemini Ink in San Antonio, The Teachers and Writers Collaborative in NY, and the Dreamyard Drama Project in the Bronx. His play "Oil on Canvas" won 2nd prize in the 2009 "Metlife Nuestras Voces" Latino Playwriting Competition and has been staged at the Guadalupe Cultural Arts Center, Repertorio Español, and Teatro La Tea. His play "The Teacher’s Lounge" was also staged by Teatro La Tea and by The Hunt's Point CDC in the Bronx.  </p>
		  </div>
        </div>
      </div>
    </div>

    <div id="scroll-panel" class="section pp-scrollable">
  
      <div class="other-prod">
	    <h2>Winning Playwrights</h2>
		<h3>of the MetLife Nuestras Voces National Playwriting Competition</h3>
	    <div class="row">
	      <div id="perform-grid-md" class="centered">
	        	<div class="production winners" style="background: url('images/past-winners/Mariana-Carreno-King.jpg') no-repeat center top/cover;">
					<div class="plabel">
						<h4>Mariana Carreño King</h4>
						<h5>“Señorita 744890”</h5>
					  
						<hr>
						<span>2014 NUESTRAS VOCES WINNER</span>
					</div>
				</div>
				
	        	<div class="production winners" style="background: url('images/past-winners/CARLOS-MURILLO.png') no-repeat center top/cover;">
					<div class="plabel">
						<h4>CARLOS MURILLO</h4>
						<h5>“Su nombre será su sombra para siempre”</h5>
						<hr>
						<span>2013 NUESTRAS VOCES WINNER</span>
						<a href="http://newdramatists.org/carlos-murillo-0" target="_blank"><button>visit playwright site</button></a>
					</div>
				</div>
				
	        	<div class="production winners" style="background: url('images/past-winners/Marco-Antonio-rodriguez.png') no-repeat center top/cover;">
					<div class="plabel">
						<h4>Marco Antonio rodriguez</h4>
						<h5>“Barceló con hielo”</h5>
						<hr>
						<span>2012 NUESTRAS VOCES WINNER</span>
						<a href="http://www.marcoantoniorodriguez.com/" target="_blank"><button>visit playwright site</button></a>
					</div>
				</div>
				
	        	<div class="production winners" style="background: url('images/past-winners/VINCENT-TORO.png') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>VINCENT TORO</h4>
	            	  <h5>“21”</h5>
	            	  <hr>
					  <span>2011 NUESTRAS VOCES WINNER</span>
					  <a href="http://www.pw.org/content/vincent_toro" target="_blank"><button>visit playwright site</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/past-winners/Yoshvani-Medina.png') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Yoshvani Medina</h4>
	            	  <h5>“Probación”</h5>
	            	  <hr>
					  <span>2010 NUESTRAS VOCES WINNER</span>
					  <a href="https://www.linkedin.com/pub/yoshvani-medina/7/63b/867" target="_blank"><button>visit playwright site</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/past-winners/Lina-Gallegos.png') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Lina Gallegos</h4>
	            	  <h5>“Locuras en Wichita”</h5>
	            	  <hr>
					  <span>2009 NUESTRAS VOCES WINNER</span>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Tencha-Avila.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Tencha Avila</h4>
					  <h5>"El Beso del Adios"</h5>
	            	  <hr>
					  <span>2007 NUESTRAS VOCES WINNER</span>
					  <a href="https://www.linkedin.com/pub/tencha-avila/33/79/864" target="_blank"><button>visit playwright site</button></a>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Carlos-Lacamara.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Carlos Lacámara</h4>
					  <h5>"Ningún Lugar de la Frontera"</h5>
	            	  <hr>
					  <span>2006 NUESTRAS VOCES WINNER</span>
					  <a href="http://www.imdb.com/name/nm0479801/" target="_blank"><button>visit playwright site</button></a>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Carlos-Serrano.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Carlos J. Serrano</h4>
	            	  <hr>
					  <span>2006 NUESTRAS VOCES WINNER</span>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Marcelo-Rodriguez.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Marcelo Rodríguez</h4>
					  <h5>"Cartas a una Madre"</h5>
	            	  <hr>
					  <span>2005 NUESTRAS VOCES WINNER</span>
					  <a href="http://www.marcelorodriguez.com/" target="_blank"><button>visit playwright site</button></a>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Silvia-Gonzalez.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Silvia González</h4>
					  <h5>“El vagón”</h5>
	            	  <hr>
					  <span>2004 NUESTRAS VOCES WINNER</span>
					  <a href="http://www.silviagonzalezs.com/site/index.php?section=1" target="_blank"><button>visit playwright site</button></a>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Rob-Santana.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Rob Santana</h4>
					  <h5>“Marido Encadenado”</h5>
	            	  <hr>
					  <span>2003 NUESTRAS VOCES WINNER</span>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Candido-Tirado.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Cándido Tirado</h4>
					  <h5>“Los nenes de mamá”</h5>
	            	  <hr>
					  <span>2003 NUESTRAS VOCES WINNER</span>
					  <a href="http://www.candidotirado.com/" target="_blank"><button>visit playwright site</button></a>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Miguel-Falquez.jpg') no-repeat center top/cover;">
	          	  <div class="plabel taller">
	            	  <h4>Miguel Falquez–Certain with Francisco Alvarez</h4>
					  <h5>“Quemar las naves”</h5>
	            	  <hr>
					  <span>2002 NUESTRAS VOCES WINNER</span>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Jorge-Celaya.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Jorge Celaya</h4>
					  <h5>“Búfalo Herido”</h5>
	            	  <hr>
					  <span>2001 NUESTRAS VOCES WINNER</span>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Jorge-Gonzalez.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Jorge González</h4>
					  <h5>“Vieques”</h5>
	            	  <hr>
					  <span>2000 NUESTRAS VOCES WINNER</span>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/past-winners/Eugene-Rodriguez.jpg') no-repeat center top/cover;">
	          	  <div class="plabel">
	            	  <h4>Eugene Rodríguez</h4>
	            	  <hr>
					  <span>2000 NUESTRAS VOCES WINNER</span>
	         	  </div>
				</div>
	      </div><!--#perform-grid-md-->
	    </div><!--.row-->
	  </div><!--.other-prod-->

	  <div class="big-gray-box sponsors">
		<h3>About the Sponsor</h3>
		<div class="col-md-12 centered">
			<div class="row">
				<div class="sponsors">
					<p class="text-justify">
MetLife Foundation was established by MetLife to carry on its longstanding tradition of corporate contributions and community involvement. Recognizing the vital role the arts play in building communities, the Foundation contributes to arts by focusing on creating opportunities for young people and reaching broader audiences through inclusive and accessible programming.					</p>
					<img src="/images/past-winners/met-life.png"/>
				</div>
			</div>
		</div>
	  </div>
	  <stay-intouch></stay-intouch>
	  <footer-block></footer-block>
    </div>
  </div>
  <ul id="pp-nav">
    <li>
      <a href="javascript:void(0)" class="dot-button pp-functions" section="1">
        <span style="border-color: rgb(255, 255, 255);"></span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="dot-button pp-functions" section="2">
        <span style="border-color: rgb(255, 255, 255);"></span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="dot-button pp-functions" section="3">
        <span style="border-color: rgb(255, 255, 255);"></span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="dot-button pp-functions" section="4">
        <span style="border-color: rgb(255, 255, 255);"></span>
      </a>
    </li>
  </ul>
</div>
<div id="pp-arrow" section="4">
  <a href="javascript:void(0)" class="pp-functions" section="4">
    <img src="images/home/arrow-scrolldown.png">
  </a>
</div>
