<div class="repertorio-espanol">
  <div class="about row">
    <div class="hero" bg-loader bgid="{{pageData.custom_fields.hero_image[0]}}">
      <div class="sharethis">
			<span class='st_facebook_custom'><img src="http://repertorio.nyc/images/social-fb.png" onmouseover="this.src='http://repertorio.nyc/images/social-fb-ro.png'" onmouseout="this.src='http://repertorio.nyc/images/social-fb.png'" /></span>
			<span class='st_twitter_custom'><img src="http://repertorio.nyc/images/social-tw.png" onmouseover="this.src='http://repertorio.nyc/images/social-tw-ro.png'" onmouseout="this.src='http://repertorio.nyc/images/social-tw.png'" /></span>
	  </div>
	  <div class="vert-mid">
        <h1>
          Repertorio Español
        </h1>
      </div>
    </div>
  </div>
  <div class="big-black-box">
    <div class="col-md-12 txt-area">
      <p>
        Repertorio Español was founded in 1968 to introduce the best of Latin American, Spanish and Hispanic-American theatre in distinctive, quality productions, and to bring theatre to a broad audience in New York City and across the country, including seniors, students and Hispanics of all national backgrounds.
      </p>
    </div>
  </div>
  <div class="big-gray-box col-md-12 history">
    <h3>HISTORY</h3>
    <p class="col-md-6 txt-area left">
      Repertorio Español is the vision of the late Producer Gilberto Zaldívar and Artistic Director Emeritus René Buch. They combined forces in 1968 to produce excellent theatre in Spanish. Robert Weber Federico joined them in 1971 and was named Executive Producer in 2005. At the Gramercy Arts Theatre since 1972, Repertorio has presented an unparalleled body of theater that promotes and divulges the rich heritage of Hispanic theatre.
      <br /><br />
      Spanish masters like Calderón, Lope de Vega and García Lorca; renowned playwrights from Latin America; and the growing body of American writers who capture the Latino experience in the United States, are all at home in Repertorio’s programming.
      <br /><br />
      Repertorio’s ongoing history of remarkable theatre is well received at home and on tour. With more than 250 original productions since its inception, the company has delighted over 1.5 million people and 750,000 high school students. At the national and international level, the Company has toured to critical acclaim to 30 states and 16 countries. It boasts an impressive array of OBIE, Drama Desk, ACE, HOLA and ENCORE awards.
      <br /><br />
      The Company presents over 300 performances of 15 different productions in rotating repertory and guest events annually. The productions, some of which remain in repertory for many years, are directed, designed and performed by a talented ensemble of experienced and emerging Latino theatre artists from diverse Spanish-speaking nations as well as the United States. The company’s productions are most often performed in Spanish with English captions opening the door to non-Spanish speakers to experience Latino theater as well.
    </p>
    <p class="col-md-6 txt-area right">
      Furthermore, education is fundamental to Repertorio’s mission. The Company’s commitment to education is visible through the work of ¡Dignidad!, a word that means both dignity and self-esteem.This remarkable initiative has been sharing theatre with students and teachers since 1971. Each year, there are 100 schoolday matinee performances for the benefit of high school students, many of who are attending theatre for the first time. In 1998, ¡Dignidad! expanded its outreach with in-school artistic residencies, family workshops and teacher training sessions.
      <br /><br />
      Dedicated to the next generation of Latino artists, Repertorio has been cultivating playwrights since 1984. Additionally, the annual MetLife Nuestras Voces National Playwriting Competition, founded in 2000, has been generating new Latino theatre for the 21st century. The Company also fosters recently graduated directors thanks to The Edward and Sally Van Lier Fellowship for Directors, established in 1998.
      <br /><br />
      The artistic achievements of Repertorio Español are built on the support of its audience and individual donors as well as collaborative efforts with corporations, government agencies and foundations. Repertorio, a vital component of the community, remains committed to artistic innovation and educational responsibility, thereby creating outstanding, relevant theatre for everyone.
    </p>
    <br class="clearfix" />
    <button OnClick="window.open('/pdf/repertorio-espanol/RepPlaysProducedWebDocument.pdf', '_blank')">VIEW OUR HISTORY OF PLAYS</button>
  </div>

  <div class="big-black-box annual-reports">
    <div class="col-md-12 txt-area">
      <h3>ANNUAL REPORTS</h3>
      <p>
        Repertorio Español is a registered 501(c)3 nonprofit organization. Our annual report is available for download below
      </p>
      <div class="buttons">
        <select>
          <option value="">ANNUAL REPORTS</option>
          <option value="/pdf/repertorio-espanol/Season_Report_2011_2012_Smaller_Web.pdf">2011-2012 Annual Report</option>
          <option value="/pdf/repertorio-espanol/SeasonReport2010-2011FinalLight.pdf">2010-2011 Annual Report</option>
          <option value="/pdf/repertorio-espanol/Season Report08-09.pdf">2008-2009 Annual Report</option>
          <option value="/pdf/repertorio-espanol/SeasonRepWeb0708.pdf">2007-2008 Annual Report</option>
        </select>
        <button class="download">DOWNLOAD</button>
      </div>
<!--       <a target="_self" href="/pdf/Alba_Study_guide.pdf" download="alba_study_guide.pdf">Test Download</a> -->
    </div>
  </div>

  <div class="big-gray-box sponsors">
    <h3>AWARDS</h3>
    <div class="col-md-12">
      <div class="row">
        <div class="sponsors">
          <img src="/images/repertorio-espanol/obie.png">
          <img src="/images/repertorio-espanol/governors-office.png">
          <img src="/images/repertorio-espanol/drama-desk.png">
          <img src="/images/repertorio-espanol/hola.png">
          <img src="/images/repertorio-espanol/ace.png">
        </div>
      </div>
    </div>
  </div>
</div>
<stay-intouch></stay-Intouch>
<footer-block></footer-block>