<div class="vanlier-apply row">
    <div class="fake-header-bg ng-scope"></div>

    <div class="big-white-box doc-page">
        <h3 class="doc-page-title">2014-2015 Edward &amp; Sally Van Lier Fellowship for Directors</h3>
        <div class="row row-centered">
            <div class="header-image header-image-1 col-centered col-lg-4"></div>
            <div class="header-image header-image-2 col-centered col-lg-4"></div>
            <div class="header-image header-image-3 col-centered col-lg-4"></div>
        </div>

        <p>Repertorio Español, the nation’s pre-eminent Spanish language theater, is proud to announce The Edward and Sally Van Lier Fellowship for Directors. This fellowship is designed to give emerging Hispanic Latino directors an opportunity to mount two professional theater productions at Repertorio Español.</p>

        <h4 class="combo-header">Requirements</h4>
        <p>Candidates must meet all of the following requirements:</p>
        <ol>
            <li>Be Hispanic / Latino and 30 years old or younger;</li>
            <li>Must live full time in one of the five boroughs of New York City and plan to remain in New York City;</li>
            <li>Have completed BA or MFA in dramatic arts and must not be currently enrolled in any university or a full time theatre training program;</li>
            <li>Must be citizens or permanent residents of the United States</li>
        </ol>

        <p>The ideal fellows will have some previous experience in directing, an integral knowledge of classical Spanish theatre, contemporary Latin American theatre as well as a familiarity of Hispanic-American playwrights.</p>

        <h4 class="combo-header">General Information</h4>
        <p>Three directors will be chosen to participate based on production proposals and in-person interviews. Fellows will direct 2 distinct works in Spanish over the course of two summers.</p>
        <ol>
            <li>The first round of productions will be contemporary works written in Spanish or works by Hispanic American playwrights which will happen in the summer of 2014.</li>
            <li>The second round will be plays from the Siglo de Oro (Spain’s Golden Age) which will happen in the summer of 2015.</li>
        </ol>

        <h4>Application Process</h4>
		<p>Must follow instructions and fully fill out form to participate. Unfortunately, we cannot accept any changes or re-submissions once the information has been submitted.</p>
        <p><strong>Deadline: Monday, March 15, 2014</strong></p>
        <ol>
            <li>Artistic résumé with two references</li>
            <li>Short Biography (200 word maximum)</li>
            <li>A one-page long project description, in Spanish, for each of the proposed projects: one contemporary (Spain, Latin America, USA Latino) and one classical (Siglo de Oro) work.</li>
            <li>Proof of age and residency</li>
        </ol>
        

        <form class="submit-form-yellow" action="vanlier-send.php" method="post" enctype="multipart/form-data">
            <div class="row input-four-across">
                <input type="text" name="nameInput" placeholder="FULL NAME*" class="col-md-3">
                <input type="text" name="cellInput" placeholder="CELL NUMBER*" class="col-md-3">
                <input type="text" name="addressInput" placeholder="ADDRESS*" class="col-md-3">
                <input type="text" name="apptInput" placeholder="ADDRESS 2" class="col-md-3">
            </div>
            <div class="row input-four-across">
                <input type="text" name="cityInput" placeholder="CITY" class="col-md-3">
                <select name="stateSelect" class="col-md-3">
                    <option selected="true" disabled="disabled">STATE</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
					<option value="PR">Puerto Rico</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
                <input type="text" name="zipInput" placeholder="ZIP CODE" class="col-md-3">
                <select class="col-md-3" name="howYouHeardSelect">
                    <option selected="true" disabled="disabled">HOW DID YOU HEAR ABOUT THE COMPANY?</option>
                    <option>Friend/Family</option>
                    <option>Colleague</option>
                    <option>Advertisment</option>
                    <option>Email</option>
                    <option>Social Media</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="row">
                <textarea name="synopsisInput" placeholder="ONE-PAGE PROJECT DESCRIPTION" class="col-md-12"></textarea>
            </div>
            <div class="row">
                <textarea name="bioInput" placeholder="SHORT BIOGRAPHY (200 word maximum)"class="col-md-12"></textarea>
            </div>
            <div class="row">
                <input name="resumeFile" type="file" value="Upload your Artistic Resume">
            </div>
            <div class="row">
                <input name="projectFile" type="file" value="Upload your Project">
            </div>
            <div class="row">
                <input name="proofOfResFile" type="file" value="Upload proof of residency">
            </div>
			<p>Please direct any questions regarding this fellowship/application to <a href="mailto:vanlier@repertorio.org" target="_blank">vanlier@repertorio.org</a></p>
            <div>
                <input class="formSubmitBtn" value="Apply Now" type="submit">
                <img class="loading-img" style="display: none;" src="images/loading.gif">
            </div>
        </form>
        <script>
            $(document).ready(function() {
                $('.formSubmitBtn').bind('click', function() {
                    $('.loading-img').show();
                }); 
            });
        </script>
    </div>
</div>
<footer-block></footer-block>
