<style>
	body[style]{overflow:hidden!important;}
</style>

<div class="home">
  <div id="pagepiling" class="page-piling">
    <div class="section">
      <div class="col-sm-12 home-hero aspectwrapper" style="background: url('images/view-alumni/hero-diego-m-chiri.jpg') right center/cover #000"> 
        <div class="announce content">
          <p>5th Fellowship (2014-2015)</p>
      	  <h1>DIEGO M. CHIRI</h1>
          <h3>Fin de Semana</h3>
		  
		  <div class="winner-right">
			<!--<img src="/images/past-winners/andres-camargo.png" />-->
			<h4>DIEGO M. CHIRI</h4>
			<p>Diego M. Chiri is a Peruvian actor, writer, and director living in New York. Chiri graduated from Community College of Philadelphia (2009) and Bucknell University (2012) with Cum Laude honors and degrees in Film and Theatre, with a concentration in Stage Direction. Chiri has directed “Ashes” (2010), “The Zoo Story” (2011) and the documentary “Devising the American Family” (2012), the latter of which was filmed at the Edinburgh Fringe Festival. Chiri has also contributed to the devised productions of “The Bacchae” (2011) and “Really Trying Here” (2011). In New York, Chiri has directed “Fin de semana” (2014) at Repertorio Español and the stage reading of “Gazoline” (2015) at IATI Theater. Chiri is a member of Phi Theta Kappa Honor Society and he has received the Jack Kent Cooke Foundation Scholarship, the CCP Foundation Scholarship, and recently the Van Lier Fellowship. Chiri works at TimeLine Video, a media production agency in New York.</p>
		  </div>
        </div>
      </div>
    </div>
	
    <div class="section">
      <div class="col-sm-12 home-hero aspectwrapper" style="background: url('images/view-alumni/hero-victoria-collado.jpg') right center/cover #000">
        <div class="announce content">
          <p>5th Fellowship (2014-2015)</p>
		  <h1>VICTORIA COLLADO</h1>
		  <h3>EL CRUCE SOBRE EL NIÁGARA</h3>

          <div class="winner-right">
			<!--<img src="/images/past-winners/andres-camargo.png" />-->
			<h4>VICTORIA COLLADO</h4>
			<p>Born in Miami, FL, Victoria Collado is a Cuban-American actress and director influenced by the works of Bertolt Brecht, Pina Bausch, and Agusto Boal. She has an interest in merging the movement world with naturalist plays in order to create exciting theatrical experiences. Victoria received her BFA in Theatre Performance from Florida International University. She has directed for MicroTeatro Miami, What If Works, and other theaters in the Miami Area. The Van Lier production “El cruce sobre el Niágara” was her New York directing premiere. Her work on “Los últimos días de una casa” garnered an ACE award nomination and an ATI award win for Best Director of a Monologue.  Victoria is honored to be a Van Lier Fellow and hopes that the legacy of the fellowship continues for years to come.</p>
		  </div>
        </div>
      </div>
    </div>
	
    <div class="section">
      <div class="col-sm-12 home-hero aspectwrapper"  style="background: url('images/view-alumni/hero-estefania-fadul.jpg') right center/cover #000">
        <div class="announce content">
          <p>5th Fellowship (2014-2015)</p>
		  <h1>ESTEFANÍA FADUL</h1>
		  <h3>ASÍ VAN LOS FANTASMAS DE MÉXICO, PRIMERA PARTE</h3>
		  
          <div class="winner-right">
			<!--<img src="/images/past-winners/andres-camargo.png" />-->
			<h4>ESTEFANÍA FADUL</h4>
			<p>Estefanía Fadul is a Colombia-born, New Hampshire-raised director and producer. Directing credits include: “Así van los fantasmas de México” by Matthew Paul Olmos (Repertorio Español Van Lier Fellowship), “Well” by Lisa Kron (Pleiades Productions), “Underneath” by Christine Jean Chambers (Around the Block), and “A Streetcar Named Desire” (Vassar College). She has assistant directed at the Public Theater, Oregon Shakespeare Festival, MCC, New York Stage and Film, and The Flea. Estefanía recently assistant produced Soho Rep.’s first all-ages show, “Washeteria.” She is the founding Artistic Director of Pleiades Productions, a 2015 Drama League Directors Project Fall Fellow, and a member of the Lincoln Center Theatre Directors Lab. B.A. from Vassar College.</p>
		  </div>
        </div>
      </div>
    </div>

    <div id="scroll-panel" class="section pp-scrollable">
  
      <div class="other-prod">
	    <h2>ALUMNI</h2>
		<h3>Edward & Sally Van Lier Fellowship for Directors</h3>
	    <div class="row">
	      <div id="perform-grid-md" class="centered">
				<div class="production winners" style="background: url('images/view-alumni/ines-garcia.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Inés García</h4>
	            	  <hr>
					  <span>4th Fellowship (2012-2013)</span>
					  <a href="http://www.inesgarcia.net/#!directing/colm" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/leyma-lopez.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Leyma López</h4>
	            	  <hr>
					  <span>4th Fellowship (2012-2013)</span>
					  <a href="https://plus.google.com/115617855272108483043/posts" target="_blank"><button>View Contact Info</button></a>
	         	   </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/freddy-mancilla.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Freddy Mancilla</h4>
	            	  <hr>
					  <span>4th Fellowship (2012-2013)</span>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/javierantonio-gonzalez.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Javierantonio González</h4>
	            	  <hr>
					  <span>3rd Fellowship (2010-2011)</span>
					  <a href="http://www.indietheaterhalloffame.com/Person/javierantonio-gonzalez" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/julian-mesri.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Julián Mesri</h4>
	            	  <hr>
					  <span>3rd Fellowship (2010-2011)</span>
					  <a href="http://julian-mesri.squarespace.com/" target="_blank"><button>View Contact Info</button></a>
				  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/gamaliel-valle-rosa.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Gamaliel Valle Rosa </h4>
	            	  <hr>
					  <span>3rd Fellowship (2010-2011)</span>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/andres-zambrano.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Andrés Zambrano</h4>
	            	  <hr>
					  <span>3rd Fellowship (2010-2011)</span>
					  <a href="http://underalias.com/" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/view-alumni/gisela-cardenas.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Gisela Cárdenas</h4>
	            	  <hr>
					  <span>2nd Fellowship (2004)</span>
					  <a href="http://www.giselacardenas.com/" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/ximena-garnica.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Ximena Garnica</h4>
	            	  <hr>
					  <span>2nd Fellowship (2004)</span>
					  <a href="http://contemporaryperformance.org/profile/XimenaGarnica" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/eduardo-navas.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Eduardo Navas</h4>
	            	  <hr>
					  <span>2nd Fellowship (2004)</span>
					  <a href="http://www.imdb.com/name/nm4336986/" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/isabel-ramos.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Isabel Ramos</h4>
	            	  <hr>
					  <span>2nd Fellowship (2004)</span>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/jerry-ruiz.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Jerry Ruíz</h4>
	            	  <hr>
					  <span>2nd Fellowship (2004)</span>
					  <a href="http://www.jerryruizdirector.com/" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/alexander-santiago-jirau.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Alexander Santiago Jirau</h4>
	            	  <hr>
					  <span>2nd Fellowship (2004)</span>
					  <a href="https://www.linkedin.com/pub/alexander-santiago-jirau/a/603/105" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/jose-zayas.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>José Zayas</h4>
	            	  <hr>
					  <span>2nd Fellowship (2004)</span>
	         	  </div>
				</div>
				
				<div class="production winners" style="background: url('images/view-alumni/daniel-jose-bort.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Daniel José Bort</h4>
	            	  <hr>
					  <span>1st Fellowship (1998-1999)</span>
					  <a href="http://www.imdb.com/name/nm1440927/" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/camilo-fontecilla.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Camilo Fontecilla</h4>
	            	  <hr>
					  <span>1st Fellowship (1998-1999)</span>
					  <a href="https://www.linkedin.com/pub/camilo-fontecilla/16/339/120" target="_blank"><button>View Contact Info</button></a>
				  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/alfredo-galvan.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Alfredo Galván</h4>
	            	  <hr>
					  <span>1st Fellowship (1998-1999)</span>
					  <a href="https://www.linkedin.com/pub/alfredo-galvan/85/158/462" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
				
	        	<div class="production winners" style="background: url('images/view-alumni/michael-john-garces.png') right center/cover #000">
	          	  <div class="plabel">
	            	  <h4>Michael John Gárces</h4>
	            	  <hr>
					  <span>1st Fellowship (1998-1999)</span>
					  <a href="http://cornerstonetheater.org/staff/#person-6" target="_blank"><button>View Contact Info</button></a>
	         	  </div>
				</div>
	      </div><!--#perform-grid-md-->
	    </div><!--.row-->
	  </div><!--.other-prod-->

	  <div class="big-gray-box sponsors">
		<h3>About the Sponsor</h3>
		<div class="col-md-12 centered">
			<div class="row">
				<div class="sponsors">
					<p class="text-justify">The New York Community Trust is dedicated to meeting the changing needs of children, youth, and families; aid in community development; improve the environment; promote health; assist people with special needs; and support education, arts, and human justice.</p>
					<img src="/images/opportunities/ny-trust.jpg"/>
				</div>
			</div>
		</div>
	  </div>
	  <stay-intouch></stay-intouch>
	  <footer-block></footer-block>
    </div>
  </div>
  <ul id="pp-nav">
    <li>
      <a href="javascript:void(0)" class="dot-button pp-functions" section="1">
        <span style="border-color: rgb(255, 255, 255);"></span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="dot-button pp-functions" section="2">
        <span style="border-color: rgb(255, 255, 255);"></span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="dot-button pp-functions" section="3">
        <span style="border-color: rgb(255, 255, 255);"></span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="dot-button pp-functions" section="4">
        <span style="border-color: rgb(255, 255, 255);"></span>
      </a>
    </li>
  </ul>
</div>
<div id="pp-arrow" section="4">
  <a href="javascript:void(0)" class="pp-functions" section="4">
    <img src="images/home/arrow-scrolldown.png">
  </a>
</div>
